body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold", sans-serif;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  color: #8f8f8f;
}

.light hr {
  border: 6px dotted #472207;
  border-bottom: none;
  width: 150px;
  margin: 20px auto;
}

.dark hr {
  border: 6px dotted #f1c795;
  border-bottom: none;
  width: 150px;
  margin: 20px auto;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

#chess {
  background-image: url("../assets/ChessBoard.jpg");
  height: 100vh;
  background-size: cover;
}

.navbar {
  background-color: #472207;
  position: fixed;
  width: 100%;
  opacity: .8;  
}
.navbar-light .navbar-brand {
  color: #c08448;
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0 0 0 50px;
}

.navbar-light .navbar-brand:hover {
    color: #f1c795;
}

.navbar-light .navbar-nav .nav-link {
  color: #c08448;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #f1c795;
}

.nav-item {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
}

/* Set the border color */

.custom-toggler.navbar-toggler {
  border-color: #f1c795;
}
/* Setting the stroke to #c08448 using rgb values (192, 132, 72, 1) */

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(192, 132, 72, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#chess::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.intro {
  color: white;
  padding: 1%;
  display: inline-block;
  vertical-align: middle;
}

.intro h1 {
  font-family: "Berkshire Swash", cursive;
  padding-bottom: 50px;
  font-size: 6rem;
}

.dark {
  background-image: url("../assets/darkWoodSeamless.jpg");
  height: 100vh;
  background-size: cover;
  color: #f1c795;
}

.light {
  background-image: url("../assets/lightWoodSeamless.jpg");
  height: 100vh;
  background-size: cover;
  color: #472207;
}

.header {
  padding: 2em 0;
  margin: 0px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  #last-nav-link {
    padding-right: 5rem;
    padding-left: 1.5rem;
  }
}
